.services{
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 25px 0px;
    text-align: center;
    overflow: hidden;
}
.services .row{
    margin: 35px 0px;
}
.services h2{
    color: #000;
    font-size: 30px;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.services p{
    color: #777;
    font-size: 15px;
    line-height: 30px;
    margin: 20px 0px;
}
.services .box{
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    height: auto;
    padding: 5px;
    overflow: hidden;
    margin-top: 20px;
}
.services .box svg{
    color: #fb3e3e;
    background-color: #fff;
    box-shadow: 1px 1px #888888;;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0px;
}

.services .box h3{
    color: #222;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0px;    
}
.services .box p{
    color: #777;
    font-size: 15px;
    margin: 15px 0px;
}
.services .box:hover svg{
    background-color: #fb3e3e;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    transition: .5s ease-in;
}
.services .lastserv{
    margin-top: 70px;
    text-align: left;
}
.services .lastserv h3{
    color: #000;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
} 
.services .lastserv p{
    color: #777;
    font-size: 15px;
    margin: 15px 0px;
}
.services .lastserv ul{
    
    padding: 0px;
    margin: 20px;
}
.services .lastserv ul li{
    list-style-type: disc;
    margin: 7px 0px;
    color: #777;
    font-size: 16px;
}
.services .lastserv button{
    color: #fff;
    background-color: #fb3e3e;
    border: 1px solid #fb3e3e;
    width: 140px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 15px 0px;
}