body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Tajawal', sans-serif;
}

section{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Tajawal', sans-serif;
  color: #212121;
}
p{
  font-family: 'Tajawal', sans-serif;
  line-height: 30px;
}
span{
  font-family: 'Tajawal', sans-serif;
  display: block;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
}
ul{
  margin: 0px;
  padding: 0px;
}
